.iframe-container{
    
    position: relative;
    width: 100%;
    padding-bottom: 26.25%; 
    height: 100%;

  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .text{
    font-family: 'Kanit', sans-serif;
  }
  
  .but{
    padding-top:10px; 
  }
  .head{
    padding-top: 100px;
  }
  